body{
    background-image: url("background-image3.jpg");
    background-size: 100% 100%;
}


header{
    text-align-last: center;
    /* border: 2px solid blueviolet; */
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #fff;
}


.main{
    background-size: 30px;
    border-radius: 13px;
    box-shadow: 2px 12px 10px 2px;
    /* border: 2px solid rgba(0, 0, 0, 0); */
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 50px 50px 75px 30px;
    margin: 5% 20% 10% 25%;
}

.main h3{
    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#name, #role, #email, #date, #bonus{
    width: 60%;
    padding: 5px 5px 2px 5px;
    margin: 5px 0 0 30px;
    border-radius: 10px;
}

form label{
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#button {
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 15px;
    font-style: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}